*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
src/main/resources/config/jdbc.properties
src/test/logs/musicbeat_test*
target/
webapp/bower_components
webapp/node_modules
webapp/test
webapp/dist