<div class="singer-edit-wrapper">
    <div class="singer-edit">
        <form>
            <div class="form-group">
                <input type="text" ng-model="currentSinger.id" placeholder="{{currentSinger.id}}">
            </div> <!-- end .form-group -->
            <div class="form-group">
                <input type="text" ng-model="currentSinger.name" placeholder="{{currentSinger.name}}">
            </div> <!-- end .form-group -->
            <div class="form-group">
                <input type="text" ng-model="currentSinger.gender" placeholder="{{currentSinger.gender | genderFilter}}">
            </div> <!-- end .form-group -->
            <div class="form-group">
                <input type="text" ng-model="currentSinger.intro" placeholder="{{currentSinger.intro}}">
            </div> <!-- end .form-group -->
            <div class="form-group">
                <input type="text" ng-model="currentSinger.isBand" placeholder="{{currentSinger.isBand | boolFilter}}">
            </div> <!-- end .form-group -->
            <div class="button-wrapper"><button type="submit" class="button" ng-click="fakeEdit(currentSinger.id, currentSinger.name)">确定</button></div>
            <div class="button-wrapper"><button type="submit" class="button" ng-click="closePanel($event);">取消</button></div>
        </form>
    </div>
</div>