<!--歌手-->
<div class="tab-pane active" id="panel-singer" style="background-image: url('images/background111.gif')">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8"  style="font-family:'Microsoft YaHei',serif;font-size: 20px;margin: 20px auto;">
            <!-- 添加歌手的信息 -->
            <li style="float: left">添加歌手信息</li>
            <form class="form-horizontal" role="form">
                <span class="input-group-btn">
                    <button class="btn btn-default" style="margin-left: 50px" type="button">
                        <a href="" class="singer-add-edit-open" ng-click="openAddSingerPanel($event);">添加</a>
                    </button>
                </span>
            </form>
            <br/>
            <!-- 歌手输入查找框-->
            <li >查找歌手的信息</li><br/>
            <div style="margin:0 auto">
                <form class="form-horizontal" role="form">
                    <input type="text" class="form-control" style="max-width: 500px; float: left" id="findname" placeholder="歌手姓名" ng-model="singerName" required>
                    <span class="input-group-btn" style="padding-left: 50px">
                        <button class="btn btn-default" type="button" ng-click="getSingerByName();">查找</button>
                    </span>
                </form>
            </div><br/>
            <!-- 歌手显示表-->
            <li style="font-family:'Microsoft YaHei UI'">查看歌手信息列表</li>
            <div id="edit_line">
                <table class="table"
                       style="font-size: 15px;margin-top: 10px;margin-bottom: 30px;border-color:darkslategray">
                    <th>
                        <tr>
                            <th>歌手ID</th>
                            <th>歌手姓名</th>
                            <th>歌手性别</th>
                            <th>歌手语种</th>
                            <th style="width: 20%">歌手简介</th>
                            <th>是否为乐队</th>
                        </tr>
                    </th>
                    <tbody>
                    <tr ng-repeat="singer in singers">
                        <td ng-bind-html="singer.id"></td>
                        <td ng-bind-html="singer.name"></td>
                        <td ng-bind-html="singer.gender | genderFilter"></td>
                        <td ng-bind-html="singer.lang | langFilter"></td>
                        <td class="table-intro" ng-bind-html="singer.intro"></td>
                        <td ng-bind-html="singer.isBand | boolFilter"></td>
                        <th><a class="singer-edit-open" href="" ng-click="editSinger(singer.id);openEditSingerPanel($event);">编辑</a></th>
                        <th><a href="" ng-click="delSinger(singer.id, singer.name);">删除</a></th>
                    </tr>
                    </tbody>
                </table>
                <div class="adminPagination" style="text-align: center;">
                    <a href="" ng-click="beforePages();">&laquo;</a>
                    <a href="" ng-bind-html="page[0]" ng-click="pageSelect(page[0]);"></a>
                    <a href="" ng-bind-html="page[1]" ng-click="pageSelect(page[1]);"></a>
                    <a href="" ng-bind-html="page[2]" ng-click="pageSelect(page[2]);"></a>
                    <a href="" ng-bind-html="page[3]" ng-click="pageSelect(page[3]);"></a>
                    <a href="" ng-bind-html="page[4]" ng-click="pageSelect(page[4]);"></a>
                    <a href="" ng-bind-html="page[5]" ng-click="pageSelect(page[5]);"></a>
                    <a href="" ng-bind-html="page[6]" ng-click="pageSelect(page[6]);"></a>
                    <a href="" ng-bind-html="page[7]" ng-click="pageSelect(page[7]);"></a>
                    <a href="" ng-bind-html="page[8]" ng-click="pageSelect(page[8]);"></a>
                    <a href="" ng-bind-html="page[9]" ng-click="pageSelect(page[9]);"></a>
                    <a href="" ng-click="nextPages();">&raquo;</a>
                </div>
            </div> <!-- end .col-md-8 -->
            </div>
        </div>
        <div class="col-md-2"></div>
        </div>
</div> <!-- end .page-title -->

<!--edit wrapper-->
<div ng-include="'tpls/admin.singer.edit.html'"></div>
<div ng-include="'tpls/admin.singer.add.edit.html'"></div>