<!-- 歌曲 -->
<div class="tab-pane" id="panel-song" style="margin-bottom: 20px;background-image: url('images/background111.gif')">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8" style="font-family:'Microsoft YaHei',serif;font-size: 20px;margin: 20px auto;">
            <!-- 添加歌手的信息 -->
            <li style="float: left">添加歌曲信息</li>
            <form class="form-horizontal" role="form">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" style="margin-left: 50px" >
                        <a href="" class="song-add-edit-open" ng-click="openAddSongPanel($event);">添加</a>
                    </button>
                </span>
            </form>
            <br/>
            <!-- 歌曲输入查找框-->
            <li>查找歌曲的信息</li><br/>
            <div style="margin:0 auto">
                <form class="form-horizontal" role="form">
                    <input type="text" class="form-control" id="musicname" style="max-width: 500px; float: left" ng-model="musicName" placeholder="歌曲姓名">
                    <span class="input-group-btn" style="padding-left: 50px">
                    <button class="btn btn-default" type="button" ng-click="getMusicByName();">查找</button>
                </span>
                </form>
            </div><br/>
            <!-- 歌曲显示表-->
            <li style="font-family:'Microsoft YaHei UI',serif">查看歌曲信息列表</li>
            <table class="table" style="font-size:15px;margin-top: 10px;margin-right: 20px;margin-bottom: 30px;margin-left: 20px;border-color: deepskyblue;">
                <th>
                    <tr>
                        <th>歌曲ID</th>
                        <th>歌曲名</th>
                        <th>歌手</th>
                        <th>专辑</th>
                        <th></th>
                        <th></th>
                    </tr>
                </th>
                <tbody>
                <tr ng-repeat="music in musics">
                    <td class="caname" ng-bind-html="music.id"></td>
                    <td class="caname" ng-bind-html="music.title"></td>
                    <td class="caname" ng-bind-html="music.author"></td>
                    <td class="caname" ng-bind-html="music.album"></td>
                    <th><a href="" class="song-edit-open" ng-click="editMusic(music.id);openEditSongPanel($event);">编辑</a></th>
                    <th><a href="" ng-click="delMusic(music.id, music.title)">删除</a></th>
                </tr>
                </tbody>
            </table>
            <div class="adminPagination" style="text-align: center;">
                <a href="" ng-click="beforePages();">&laquo;</a>
                <a href="" ng-bind-html="page[0]" ng-click="pageSelect(page[0]);"></a>
                <a href="" ng-bind-html="page[1]" ng-click="pageSelect(page[1]);"></a>
                <a href="" ng-bind-html="page[2]" ng-click="pageSelect(page[2]);"></a>
                <a href="" ng-bind-html="page[3]" ng-click="pageSelect(page[3]);"></a>
                <a href="" ng-bind-html="page[4]" ng-click="pageSelect(page[4]);"></a>
                <a href="" ng-bind-html="page[5]" ng-click="pageSelect(page[5]);"></a>
                <a href="" ng-bind-html="page[6]" ng-click="pageSelect(page[6]);"></a>
                <a href="" ng-bind-html="page[7]" ng-click="pageSelect(page[7]);"></a>
                <a href="" ng-bind-html="page[8]" ng-click="pageSelect(page[8]);"></a>
                <a href="" ng-bind-html="page[9]" ng-click="pageSelect(page[9]);"></a>
                <a href="" ng-click="nextPages();">&raquo;</a>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

<!--edit wrapper-->
<div ng-include="'tpls/admin.song.edit.html'"></div>
<div ng-include="'tpls/admin.song.add.edit.html'"></div>