<!-- 登陆页面-->
<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="panel-title">双向数据绑定</div>
    </div>
    <div class="panel-body">
        <div class="row col-md-12">
            <form class="form-horizontal" name="loginForm" role="form" ng-submit="login(credentials)" novalidate="novalidate">
                <div class="form-group">
                    <label class="col-md-2 control-label">用户名</label>
                    <div class="col-md-10">
                        <input class="form-control" type="text" ng-trim="true" placeholder="example@email.com or mobile phone or username" ng-model="credentials.userId" value="" required="required" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">密码</label>
                    <div class="col-md-10">
                        <input class="form-control" type="password" ng-trim="true" placeholder="input can be only numbers, letters and underscore" ng-model="credentials.password" value="" required="required" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-md-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-trim="true" ng-model="credentials.autoLogin" />自动登录</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-md-10">
                        <button class="btn btn-default" type="button" ng-click="getFormData()">获取Form表单的值</button>
                        <button class="btn btn-default" type="button" ng-click="setFormData()">设置Form表单的值</button>
                        <button class="btn btn-default" type="button" ng-click="restForm()">重置Form表单的值</button>
                        <button class="btn btn-default" type="submit">登陆</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>