/*! Index Css*/
/**
 * @author windawings
 * @time.creation 2017/01/31
 * @version 1.0.0
 * @since 1.0.0
 */
body, div, ul, nav, li{padding: 0; margin: 0;}
.clear{clear:both;}
#nav{
    width: 660px;
    height: 35px;
    background: #CCC;
    margin:0 auto;
}
#nav ul{
    width: 660px;
    height: 35px;
}
#nav ul li{
    font-size: 20px;
    height: 35px;
    float: left;
    list-style: none;
    line-height: 35px;
    text-align: center;
}
#nav ul li a{
    padding: 0 10px;
    height: 35px;
    color: #333;
    text-decoration: none;
    display: block;
    float: left;
}
#nav ul li a:hover{
    color: #FFF;
    background: #000;
}