<header class="header clearfix">
    <div class="left">
        <div class="logo">
            <a ui-sref="app.home">
                <img src="images/logo4.gif" class="img-responsive">
            </a>
        </div>
        <!-- end .logo -->
        <form class="header-search">
            <input type="text" placeholder="Searching">
            <button type="submit"><i class="pe-7s-search"></i></button>
        </form>
    </div> <!-- end .left -->

    <!-- menu -->
    <div class="navigation clearfix">
        <nav class="main-nav">
            <ul class="music-unstyled">
                <!--歌手-->
                <li class="menu-item-has-children" ng-repeat="(menuItem, subItem) in menu.singer">
                    <a ui-sref="app.singer({p:1,type:''})" ui-sref-opts="{reload:true}"><p ng-bind-html="menuItem"></p></a>
                    <ul>
                        <li class="menu-item-has-children" ng-repeat="(item, list) in subItem">
                            <a ng-bind-html="item"><i class="pe-7s-right-arrow"></i></a>
                            <ul>
                                <li><a ng-repeat="item in list" ui-sref="app.singer({type:item})" ui-sref-opts="{reload:true}">{{item}}</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <!--歌曲-->
                <li class="menu-item-has-children" ng-repeat="(menuItem, subItem) in menu.music">
                    <a ui-sref="app.music({label:'',p:1,search:''})" ui-sref-opts="{reload:true}"><p ng-bind-html="menuItem"></p></a>
                    <ul>
                        <li class="menu-item-has-children" ng-repeat="(item, list) in subItem">
                            <a ng-bind-html="item"><i class="pe-7s-right-arrow"></i></a>
                            <ul>
                                <li><a ng-repeat="item in list" ui-sref="app.music({label:item})"   ui-sref-opts="{reload:true}" ng-bind-html="item"></a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <!--榜单-->
                <li class="menu-item-has-children" ng-repeat="(menuItem, subItem) in menu.billboard">
                    <a ui-sref="app.blog"><p ng-bind-html="menuItem"></p></a>
                    <ul>
                        <li ng-repeat="item in subItem">
                            <a ui-sref="app.blog.category({name:item})" ng-bind-html="item"></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav> <!-- end .main-nav -->
        <a href="" class="responsive-menu-open"><i class="fa fa-bars"></i></a>
    </div> <!-- end .navigation -->

    <!-- login panel -->
    <div class="right" ng-controller="wrapperController">
        <div ng-hide="session.isAuthed">
            <a href="" class="button login-open" style="display: block;padding-top: 0;" ng-click="clearMessage();openLoginPanel();">Log In</a>
        </div>
        <div ng-if="session.roleName === 'user'">
            <div class="row">
                <div class="col-md-3">
                    <img class="userImg" ng-src="{{session.currentUser.picture}}">
                </div>
                <div class="col-md-9">
                    <div class="navigation clearfix">
                        <nav class="main-nav">
                            <ul class="music-unstyled">
                                <li class="menu-item-has-children">
                                    <a ui-sref="app.user" class="button"
                                       ng-bind-html="session.currentUser.username"></a>
                                    <ul>
                                        <li><a ui-sref="app.user.detail">Profile</a></li>
                                        <li><a href="" ng-click="logout();">Log Off</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav> <!-- end .main-nav -->
                    </div> <!-- end .navigation -->
                </div>
            </div>
        </div>
        <div ng-if="session.roleName === 'admin'">
            <div class="row">
                <div class="col-md-3">
                    <img class="userImg" ng-src="{{session.currentUser.picture}}">
                </div>
                <div class="col-md-9">
                    <div class="navigation clearfix">
                        <nav class="main-nav">
                            <ul class="music-unstyled">
                                <li class="menu-item-has-children">
                                    <a target="_blank" ui-sref="admin.singer" class="button"
                                       ng-bind-html="session.currentUser.username"></a>
                                    <ul>
                                        <li><a target="_blank" ui-sref="admin.singer">Console</a></li>
                                        <li><a href="" ng-click="logout();">Log Off</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav> <!-- end .main-nav -->
                    </div> <!-- end .navigation -->
                </div>
            </div>
        </div>

    </div> <!-- end .left -->
</header>
