<div class="section large transparent dark text-center" style="background-image: url('images/background1.jpg');">
    <div class="inner">
        <div class="container">
            <h1 style="font-size:30px;"><strong>开&nbsp启&nbsp你&nbsp的&nbsp悦&nbsp享&nbsp世&nbsp界</strong></h1>
            <p class="lead">Find great music to relax, express, study, or enjoy from Yue</p>
            <form>
                <div class="row">
                    <div class="col-md-3">
                        <div>
                            <p></p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" placeholder="根据歌手名/歌名搜索">
                        </div> <!-- end .form-group -->
                    </div>
                    <div class="col-md-3">
                        <div>
                            <p></p>
                        </div>
                    </div>
                </div>
                <button type="submit" class="button">Search Music</button>
            </form>
            <div class="highlight-slider-wrapper">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <p class="lead">曲风选择</p>
                        <div class="highlight-slider">
                            <div class="item" ng-repeat="(key, value) in freeTypes">
                                <a href="" ng-click="getMusicByCasualLabel($event);" class="icon">
                                    <img ng-src="images/highlight-{{key}}.png" alt="{{value}}">
                                    <div class="overlay" ng-bind-html="value"></div>
                                </a> <!-- end .icon -->
                            </div> <!-- end .item -->
                        </div> <!-- end .highlight-slider -->
                    </div> <!-- end .col-md-8 -->
                </div> <!-- end .row -->
            </div> <!-- end .highlight-slider-wrapper -->
        </div> <!-- end .container -->
    </div> <!-- end .inner -->
</div>

<div class="section light">
    <div class="inner">
        <div class="container">
            <h2 class="text-center" style="font-size: 25px;">Whose music are you interested in?
                <small>Explore some of the best music all over the world</small>
            </h2>
            <div class="row">
                <div class="col-md-3 col-sm-6" ng-repeat="item in current.singer.recommend">
                    <a ui-sref="app.singer.category({sid:item.id})" class="category-box" style="{{item.img}}">
                        <div class="inner">
                            <span class="number" ng-bind-html="item.number"></span>
                            <span class="title" ng-bind-html="item.title"></span>
                        </div> <!-- end .inner -->
                    </a> <!-- end .category-box -->
                </div> <!-- end .col-md-3 -->
            </div> <!-- end .row -->
            <div class="text-center">
                <a class="button" href="" ui-sref="app.singer">所有歌手</a>
            </div> <!-- end .text-center -->
        </div> <!-- end .container -->
    </div> <!-- end .inner -->
</div>
