<div class="tab-pane row active" style="text-align:center" id="userSecurity">
    <form name="userSecurityForm" class="setting-profile-table">
        <!-- 更改用户名 -->
        <div  class="form-group">
            <label>新用户名:</label>
            <input style="size:30px;max-width: 200px;display: inline" type="text"  name="name" ng-model="user.username">
            <span class="input-group-btn">
                <button style="margin-bottom: 40px;height: 41px" class="btn btn-default" type="button" ng-click="submitUserName();">修改</button>
            </span>
        </div>
        <!-- 更改密码 -->
        <div class="form-group">
            <label>原密码:</label>
            <input style="size: 30px;max-width: 200px;display: inline" type="password" ng-model="user.password">
        </div>
        <!-- 确认密码 -->
        <div style="clear:both" class="form-group">
            <label>新密码:</label>
            <input style="size: 30px;max-width: 200px;display: inline" type="password" ng-model="user.newpass">
        </div>
        <!--更改头像-->
        <div class="form-group">
            <div class="col-md-5">用户头像<br/><img style="max-width: 150px" src="{{user.pic}}"></div>
            <label for="inputfile">更改用户头像</label>
            <input style="max-width: 200px;display: inline" type="file" id="inputfile">
        </div>
    </form>
    <div>
        <a class="submit button" href="" ng-click="submitPassword();">提交</a>
    </div>
</div>
