<div class="page-header">
    <div class="container">
        <div class="breadcrumbs">
            <ul class="music-unstyled">
                <li><a ui-sref="app.home">主页</a></li>
                <li>歌曲</li>
            </ul>
        </div> <!-- end .breadcrumbs -->
    </div> <!-- end .container -->
</div> <!-- end .page-header -->

<div class="page-title" style="background-image: url('images/singer.jpg');">
    <div class="shinner">
    </div> <!-- end .shinner-->
</div> <!-- end .page-title -->

<div class="section boxed-section light">
    <div class="inner">
        <div class="container">
            <div class="box transparent">
                <div class="row">
                    <div class="col-md-4">
                        <div class="music-sidebar">
                            <div class="sidebar-widget">
                                <h3 style="color: whitesmoke;font-size: 20px">查找歌曲</h3>
                                <form class="searchform" ng-submit="search();">
                                    <input type="text" placeholder="Type here ..." ng-model="musicName" required aria-required="true">
                                    <button type="submit"><i class="pe-7s-search"></i></button>
                                </form>
                            </div> <!-- 歌曲查找 -->
                            <div class="sidebar-widget">
                                <h3 style="color:whitesmoke;font-size: 20px">歌曲分类</h3>
                                <div class="row">
                                    <div>
                                        <div class="col-md-2 box"><a href="" ng-click="getMusicByLabel($event)">安静</a></div>
                                        <div class="col-md-2 box"><a href="" ng-click="getMusicByLabel($event)">民谣</a></div>
                                        <div class="col-md-2 box"><a href="" ng-click="getMusicByLabel($event)">摇滚</a></div>
                                        <div class="col-md-3 box"><a href="" ng-click="getMusicByLabel($event)">影视原声</a></div>
                                        <div class="col-md-2 box"><a href="" ng-click="getMusicByLabel($event)">流行</a></div>
                                        <div class="col-md-3 box"><a href="" ng-click="getMusicByLabel($event)">网络歌曲</a></div>
                                        <div class="col-md-2 box"><a href="" ng-click="getMusicByLabel($event)">旅行</a></div>
                                        <div class="col-md-2 box"><a href="" ng-click="getMusicByLabel($event)">运动</a></div>
                                        <div class="col-md-3 box"><a href="" ng-click="getMusicByLabel($event)">下午茶</a></div>
                                        <div class="col-md-2 box"><a href="" ng-click="getMusicByLabel($event)">R&B</a></div>
                                        <div class="col-md-2 box"><a href="" ng-click="getMusicByLabel($event)">嘻哈</a></div>
                                        <div class="col-md-2 box"><a href="" ng-click="getMusicByLabel($event)">乡村</a></div>
                                        <div class="col-md-2 box"><a href="" ng-click="getMusicByLabel($event)">电子</a></div>
                                        <div class="col-md-2 box"><a href="" ng-click="getMusicByLabel($event)">爵士</a></div>
                                        <div class="col-md-3 box"><a href="" ng-click="getMusicByLabel($event)">校园歌曲</a></div>
                                        <div class="col-md-2 box"><a href="" ng-click="getMusicByLabel($event)">古典</a></div>
                                    </div>
                                </div>
                            </div> <!-- 歌手分类 -->
                        </div> <!-- end .music-sidebar -->
                    </div> <!-- end .col-md-4 -->
                    <div class="col-md-8" style="background-color:transparent">
                       <div class="tab-pane" style="color: whitesmoke;font-size: 16px; font-family: 'Microsoft YaHei UI', serif; margin-top: -60px;">
                            <div style="text-align: center;margin-top: -30px;font-size: 20px;font-family: 'Microsoft YaHei UI Light',serif">歌曲列表</div>
                            <!-- 歌曲显示表-->
                            <table class="table" style="border-color: deepskyblue;">
                                <th>
                                    <tr>
                                        <th></th>
                                        <th>歌曲</th>
                                        <th>专辑</th>
                                        <th>&nbsp;</th>
                                        <th>&nbsp;</th>
                                    </tr>
                                </th>
                                <tbody>
                                <tr ng-repeat="music in musics">
                                    <td style="width: 20px" ng-bind-html="$index + 1"></td>
                                    <td style="width: 300px" ng-bind-html="music.title"></td>
                                    <td style="width: 300px" ng-bind-html="music.album"></td>
                                    <td style="width: 10px"><img src="images/download.png" ng-click="downMusic(music.id);"></td>
                                    <td style="width:10px"><img src="images/plus.png" ng-click="addMusic(music.id);"></td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="pagination" style="text-align: center">
                                <li><a href="" ng-click="beforePages();">&laquo;</a></li>
                                <li><a href="" ng-bind-html="page[0]" ng-click="pageSelect(page[0]);"></a></li>
                                <li><a href="" ng-bind-html="page[1]" ng-click="pageSelect(page[1]);"></a></li>
                                <li><a href="" ng-bind-html="page[2]" ng-click="pageSelect(page[2]);"></a></li>
                                <li><a href="" ng-bind-html="page[3]" ng-click="pageSelect(page[3]);"></a></li>
                                <li><a href="" ng-bind-html="page[4]" ng-click="pageSelect(page[4]);"></a></li>
                                <li><a href="" ng-bind-html="page[5]" ng-click="pageSelect(page[5]);"></a></li>
                                <li><a href="" ng-click="nextPages();">&raquo;</a></li>
                            </div>
                        </div>
                    </div><!-- end .col-md-8 -->
                </div> <!-- end .row -->
            </div> <!-- end .box -->
        </div> <!-- end .container -->
    </div> <!-- end .inner -->
</div> <!-- end .section -->