<div class="page-header">
    <div class="container">
        <div class="breadcrumbs">
            <ul class="music-unstyled">
                <li><a ui-sref="app.home">主页</a></li>
                <li><a ui-sref="app.singer">歌手</a></li>
                <li ng-bind-html="singer.name"></li>
            </ul>
        </div> <!-- end .breadcrumbs -->
    </div> <!-- end .container -->
</div> <!-- end .page-header -->

<div class="page-title" style="background-image: url('images/background05.jpg');">
    <div class="inner">
        <div class="pic"><img ng-src="{{singer.pic}}"></div>
        <h1 ng-bind-html="singer.name"></h1>
        <p ng-bind-html="singer.intro"></p>
    </div> <!-- end .inner -->
</div> <!-- end .page-title -->

<div class="section boxed-section light">
    <div class="inner">
        <div class="container">
            <div class="box"  style="margin-top: -150px;">
                <div class="table-responsive">
                    <table class="table cart-items light-inputs">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>歌曲名</th>
                            <th>所属专辑</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in singer.musics">
                            <td ng-bind-html="$index + 1"></td>
                            <td ng-bind-html="item.mName"></td>
                            <td ng-bind-html="item.name"></td>
                            <td>
                                <a href="" ng-click="addMusic(item.mId);"><span class="glyphicon glyphicon-play"></span></a>
                            </td>
                            <td>
                                <a href="" ng-click="downMusic(item.mId);"><span class="glyphicon glyphicon-save"></span></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div> <!-- end .box -->
        </div> <!-- end .container -->
    </div> <!-- end .inner -->
</div> <!-- end .section -->