<div class="page-header">
    <div class="container">
        <div class="breadcrumbs">
            <ul class="music-unstyled">
                <li><a ui-sref="app.home">主页</a></li>
                <li>歌手</li>
            </ul>
        </div> <!-- end .breadcrumbs -->
    </div> <!-- end .container -->
</div> <!-- end .page-header -->

<div class="page-title" style="background-image: url('images/singer.jpg');">
    <div class="shinner">
    </div> <!-- end .shinner-->
</div> <!-- end .page-title -->

<div class="section boxed-section light">
    <div class="inner">
        <div class="container">
            <div class="box transparent">
                <div class="row">
                    <div class="col-md-4">
                        <div class="singer-sidebar">
                            <div class="sidebar-widget">
                                <h3 style="color: whitesmoke">查找歌手</h3>
                                <form class="searchform" ng-submit="getSingerByName();">
                                    <input type="text" placeholder="Type here ..." ng-model="singerName" required aria-required="true">
                                    <button type="submit"><i class="pe-7s-search"></i></button>
                                </form>
                            </div> <!-- 歌手查找 -->
                            <div class="sidebar-widget">
                                <h3 style="color:whitesmoke;">歌手分类</h3>
                                <div class="categories">
                                    <nav class="main-nav">
                                        <ul class="music-unstyled">
                                            <!-- 歌手分类 -->
                                            <li class="menu-item-has-children" style="width: 250px;color:whitesmoke;" ng-repeat="(subItem, list) in menu.singer['歌手']">
                                                <a>{{subItem}}<i class="pe-7s-right-arrow"></i></a>
                                                <ul style="margin-left: 280px; margin-top: -90px; width:200px;">
                                                    <li class="menu-item-has-children" style="width: 200px;" ng-repeat="item in list">
                                                        <a href="" ng-click="getSingerByType($event);">{{item}}<i class="pe-7s-right-arrow"></i></a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </nav> <!-- end .main-nav -->
                                </div>
                            </div> <!-- 歌手分类 -->
                        </div> <!-- end .singer-sidebar -->
                    </div> <!-- end .col-md-4 -->
                    <div class="col-md-8" >
                        <div class="text-center" style="line-height: 4em">
                            <div class="row">
                                <div class="col-md-3" ng-repeat="singer in singers">
                                    <a ui-sref="app.singer.category({sid:singer.id})" ng-bind-html="singer.name"></a>
                                </div>
                            </div> <!-- end.歌手链接-->
                        </div>
                        <div class="pagination" style="text-align: center">
                            <li><a href="" ng-click="beforePages();">&laquo;</a></li>
                            <li><a href="" ng-bind-html="page[0]" ng-click="pageSelect(page[0]);"></a></li>
                            <li><a href="" ng-bind-html="page[1]" ng-click="pageSelect(page[1]);"></a></li>
                            <li><a href="" ng-bind-html="page[2]" ng-click="pageSelect(page[2]);"></a></li>
                            <li><a href="" ng-bind-html="page[3]" ng-click="pageSelect(page[3]);"></a></li>
                            <li><a href="" ng-bind-html="page[4]" ng-click="pageSelect(page[4]);"></a></li>
                            <li><a href="" ng-bind-html="page[5]" ng-click="pageSelect(page[5]);"></a></li>
                            <li><a href="" ng-click="nextPages();">&raquo;</a></li>
                        </div>
                    </div> <!-- end .col-md-8 -->
                </div> <!-- end .row -->
            </div> <!-- end .box -->
        </div> <!-- end .container -->
    </div> <!-- end .inner -->
</div> <!-- end .section -->