// 首页
//- @author windawings
//- @time.creation 2017/02/02 17:57
//- @version 1.0.0
//- @since 1.0.0

doctype html
html(lang="en", ng-app="musicbeat")
    head
        meta(charset="UTF-8", http-equiv="Content-Type", content="text/html")
        meta(name="description", content="")
        link(type="text/css", rel="stylesheet", href="css/vendor.css")
        link(type="text/css", rel="stylesheet", href="css/app.css")
        title MusicBeat Dev
    body(ng-controller="homeController")
        div(ui-view="navHome")
        div(ui-view="viewContent")
    script(src="js/vendor.js")
    script(src="js/app.js")
    script(type="text/ng-template" id="firstDialogId")
        p(ng-bind-html="session.currentUser | ngDialogFilter")
