<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.musicbeat.web.mapper.MusicCommentMapper">
  <resultMap id="BaseResultMap" type="com.musicbeat.web.model.MusicComment">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <idArg column="uid" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <idArg column="mid" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.musicbeat.web.model.MusicComment">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <idArg column="uid" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <idArg column="mid" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="comment" javaType="java.lang.String" jdbcType="LONGVARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, uid, mid
  </sql>
  <sql id="Blob_Column_List">
    comment
  </sql>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from music_comment
    where id = #{id,jdbcType=INTEGER}
      and uid = #{uid,jdbcType=INTEGER}
      and mid = #{mid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from music_comment
    where id = #{id,jdbcType=INTEGER}
      and uid = #{uid,jdbcType=INTEGER}
      and mid = #{mid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.musicbeat.web.model.MusicComment">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into music_comment (uid, mid, comment
      )
    values (#{uid,jdbcType=INTEGER}, #{mid,jdbcType=INTEGER}, #{comment,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.musicbeat.web.model.MusicComment">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into music_comment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        uid,
      </if>
      <if test="mid != null">
        mid,
      </if>
      <if test="comment != null">
        comment,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="mid != null">
        #{mid,jdbcType=INTEGER},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.musicbeat.web.model.MusicComment">
    update music_comment
    <set>
      <if test="comment != null">
        comment = #{comment,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
      and uid = #{uid,jdbcType=INTEGER}
      and mid = #{mid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.musicbeat.web.model.MusicComment">
    update music_comment
    set comment = #{comment,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
      and uid = #{uid,jdbcType=INTEGER}
      and mid = #{mid,jdbcType=INTEGER}
  </update>
</mapper>