<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.musicbeat.web.mapper.SingerAlbumMapper">

  <!--设置二级缓存-->
  <cache eviction="LRU" type="org.mybatis.caches.redis.RedisCache"/>

  <resultMap id="BaseResultMap" type="com.musicbeat.web.model.SingerAlbum">
    <constructor>
      <idArg column="sid" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <idArg column="aid" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>

  <delete id="deleteByPrimaryKey" flushCache="true" parameterType="map">
    delete from singer_album
    where sid = #{sid,jdbcType=INTEGER}
      and aid = #{aid,jdbcType=INTEGER}
  </delete>

  <insert id="insert" flushCache="true" parameterType="com.musicbeat.web.model.SingerAlbum">
    insert into singer_album (sid, aid)
    values (#{sid,jdbcType=INTEGER}, #{aid,jdbcType=INTEGER})
  </insert>

  <insert id="insertSelective" flushCache="true" parameterType="com.musicbeat.web.model.SingerAlbum">
    insert into singer_album
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sid != null">
        sid,
      </if>
      <if test="aid != null">
        aid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sid != null">
        #{sid,jdbcType=INTEGER},
      </if>
      <if test="aid != null">
        #{aid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

</mapper>