<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.musicbeat.web.mapper.SingerMapper">
  <resultMap id="BaseResultMap" type="com.musicbeat.web.model.Singer">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="gender" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="lang" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="picture" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="is_band" javaType="java.lang.Boolean" jdbcType="BIT" />
    </constructor>
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.musicbeat.web.model.Singer">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="gender" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="lang" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="picture" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="is_band" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="introduction" javaType="java.lang.String" jdbcType="LONGVARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, name, gender, lang, picture, is_band
  </sql>
  <sql id="Blob_Column_List">
    introduction
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from singer
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from singer
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.musicbeat.web.model.Singer">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into singer (name, gender, lang, 
      picture, is_band, introduction
      )
    values (#{name,jdbcType=VARCHAR}, #{gender,jdbcType=BIT}, #{lang,jdbcType=VARCHAR}, 
      #{picture,jdbcType=VARCHAR}, #{isBand,jdbcType=BIT}, #{introduction,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.musicbeat.web.model.Singer">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into singer
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        name,
      </if>
      <if test="gender != null">
        gender,
      </if>
      <if test="lang != null">
        lang,
      </if>
      <if test="picture != null">
        picture,
      </if>
      <if test="isBand != null">
        is_band,
      </if>
      <if test="introduction != null">
        introduction,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=BIT},
      </if>
      <if test="lang != null">
        #{lang,jdbcType=VARCHAR},
      </if>
      <if test="picture != null">
        #{picture,jdbcType=VARCHAR},
      </if>
      <if test="isBand != null">
        #{isBand,jdbcType=BIT},
      </if>
      <if test="introduction != null">
        #{introduction,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.musicbeat.web.model.Singer">
    update singer
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        gender = #{gender,jdbcType=BIT},
      </if>
      <if test="lang != null">
        lang = #{lang,jdbcType=VARCHAR},
      </if>
      <if test="picture != null">
        picture = #{picture,jdbcType=VARCHAR},
      </if>
      <if test="isBand != null">
        is_band = #{isBand,jdbcType=BIT},
      </if>
      <if test="introduction != null">
        introduction = #{introduction,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.musicbeat.web.model.Singer">
    update singer
    set name = #{name,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=BIT},
      lang = #{lang,jdbcType=VARCHAR},
      picture = #{picture,jdbcType=VARCHAR},
      is_band = #{isBand,jdbcType=BIT},
      introduction = #{introduction,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.musicbeat.web.model.Singer">
    update singer
    set name = #{name,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=BIT},
      lang = #{lang,jdbcType=VARCHAR},
      picture = #{picture,jdbcType=VARCHAR},
      is_band = #{isBand,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>